<% for(var i in data.barang){ %>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5"><%= data.barang[i].kue %></h2>
            <p class="lead"><%= data.barang[i].harga %></p>
          </div>
          <div class="bg-light shadow-sm mx-auto" style="width: 50%; height: 400px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
      <% } %>